<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define properties -->
    <property name="LOG_DIR" value="logs"/>
    <property name="LOGSTASH_HOST" value="localhost"/>
    <property name="FLUENTD_HOST" value="localhost"/>
    <property name="LOGSTASH_PORT" value="5044"/>
    <property name="FLUENTD_PORT" value="24224"/>
    <property name="ELASTICSEARCH_URL_WITH_INDEX" value="http://localhost:9200/_bulk"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc>
                    <fieldNames>
                        <correlation_id>correlation_id</correlation_id>
                    </fieldNames>
                    <keys>correlation_id</keys>
                </mdc>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
            </providers>
        </encoder>
    </appender>

    <!-- Rolling File Appender with JSON Layout and archived logs -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/application-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc>
                    <fieldNames>
                        <correlation_id>correlation_id</correlation_id>
                    </fieldNames>
                    <keys>correlation_id</keys>
                </mdc>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
            </providers>
        </encoder>
    </appender>

    <!-- Logstash Appender -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc>
                    <fieldNames>
                        <correlation_id>correlation_id</correlation_id>
                    </fieldNames>
                    <keys>correlation_id</keys>
                </mdc>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
            </providers>
        </encoder>
    </appender>

    <!-- Fluentd Appender -->
    <appender name="FLUENTD" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>${FLUENTD_HOST}</remoteHost>
        <port>${FLUENTD_PORT}</port>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc>
                    <fieldNames>
                        <correlation_id>correlation_id</correlation_id>
                    </fieldNames>
                    <keys>correlation_id</keys>
                </mdc>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
            </providers>
        </encoder>
    </appender>
    
    <!-- Elasticsearch Appender -->
    <appender name="ELASTIC" class="net.logstash.logback.appender.HttpAppender">
        <url>${ELASTICSEARCH_URL_WITH_INDEX}</url>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc>
                    <fieldNames>
                        <correlation_id>correlation_id</correlation_id>
                    </fieldNames>
                    <keys>correlation_id</keys>
                </mdc>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
            </providers>
        </encoder>
        <connectionTimeout>10000</connectionTimeout>
        <readTimeout>10000</readTimeout>
    </appender>

    <!-- Root Logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <!--        <appender-ref ref="LOGSTASH"/>-->
<!--        <appender-ref ref="FLUENTD"/>-->
<!--        <appender-ref ref="ELASTIC"/>-->
    </root>
</configuration>

